// Fonts
/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v18-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v18-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/roboto-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto-v18-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v18-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cormorant-infant-700 - latin_cyrillic */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Cormorant Infant Bold'), local('CormorantInfant-Bold'),
        url('../fonts/cormorant-infant-v7-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/cormorant-infant-v7-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Variables
@black: #2d2d2d;
@light-gray: #e6e6e6;
@yellow: #a8741a;
@dark-yellow: #785415;

// Mixins
.list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset() {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

// Global style
body {
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  color: @black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Blocks styles
// header
.header {
  &__top {
    border-bottom: 1px solid @light-gray;
  }

  &__top-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  &__search-form {
    margin-left: auto;
  }

  &__social {
    margin-left: 3%;
  }
}

// call
.call {
  position: relative;
  width: 200px;
  padding-left: 49px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 34px;
    height: 33px;
    transform: translateY(-50%);
    background-image: url("../img/icon/sprites.png");
    background-position: -5px -10px;
  }

  &__number {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    font-size: 14px;
    color: @yellow;
    text-decoration: underline;

    &:hover {
      color: @dark-yellow;
    }
  }
}

// Wrapper
.wrapper {
  width: 95%;
  max-width: 1110px;
  margin: 0 auto;

  &--decor {
    padding-top: 33px;
    background-image: url("../img/decor-image.png");
    background-repeat: no-repeat;
    background-position-x: center;
  }
}

// Logo
.logo {
  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__text {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
  }

  &__text span {
    color: @yellow;
  }
}

// Search-form
.search-form {
  &__button {
    .button-reset();
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    box-sizing: border-box;
    border: 1px solid @light-gray;
    border-radius: 5px;

    &::before {
      content: "";
      width: 15px;
      height: 16px;
      background-image: url("../img/icon/sprites.png");
      background-repeat: no-repeat;
      background-position: -317px -20px;
    }

    &:hover {
      border: 1px solid @black;
    }
  }
}

// Social
.social {
  width: 131px;

  &__list {
    .list-reset();
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: @yellow;
    border-radius: 50%;

    &::before {
      content: "";
      background-image: url("../img/icon/sprites.png");
    }

    &:hover {
      background-color: @black;
    }
  }

  &__link--twitter {
    &::before {
      width: 12px;
      height: 10px;
      background-position: -366px -17px;
    }
  }

  &__link--instagramm {
    &::before {
      width: 13px;
      height: 13px;
      background-position: -270px -19px;
    }
  }

  &__link--goggle {
    &::before {
      width: 16px;
      height: 10px;
      background-position: -166px -17px;
    }
  }

  &__link--facebook {
    &::before {
      width: 6px;
      height: 14px;
      background-position: -123px -20px;
    }
  }
}

// Main-nav
.main-nav {
  width: 580px;
  margin: 0 auto;
  margin-top: 20px;

  &__list {
    .list-reset();
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: block;
    font-weight: 500;
    color: @black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link--deployed {
    position: relative;
    padding-right: 18px;

    &::before {
      content: "";
      position: absolute;
      right: 1px;
      top: 4px;
      width: 7px;
      height: 7px;
      box-sizing: border-box;
      border: 1.5px solid @black;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
    }
  }
}

// Slider
.slider {
  display: flex;
  height: 442px;
  margin-top: 24px;
  background-color: #0f0e0a;

  &__wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  &__list {
    .list-reset();
    display: flex;
    width: 100%;
  }

  &__item {
    flex-shrink: 0;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 40px;
    background-image: url("../img/bg-clock.png");
    background-repeat: no-repeat;
    background-position-x: 85%;
  }

  &__promotional-message {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: @yellow;
  }

  &__item-title {
    margin: 0;
    margin-top: 15px;
    font-weight: 700;
    font-size: 48px;
    font-family: "Cormorant Infant", serif;
    color: #ffffff;
  }

  &__text {
    width: 44%;
    margin: 0;
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
  }

  &__link {
    margin-top: 48px;
  }

  &__buttons {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45px;
  }

  &__button {
    .button-reset();
    width: 9px;
    height: 9px;
    background-color: #414141;
    border-radius: 50%;

    &:hover {
      background-color: #787878;
    }
  }

  &__button--active {
    width: 15px;
    height: 15px;
    background-color: @yellow;

    &:hover {
      background-color: @yellow;
    }
  }
}

// Site-button
.site-button {
  display: block;
  width: 160px;
  box-sizing: border-box;
  padding: 11.5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: @yellow;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid @yellow;
  border-radius: 5px;

  &:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

// Category
.category {
  margin-top: 70px;

  &__list {
    .list-reset();
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
  }

  &__item {
    margin-right: 2.6%;
    margin-bottom: 2.6%;
  }

  &__item:nth-child(3n) {
    margin-right: 0;
  }

  &__link {
    display: block;
    width: 350px;
    min-height: 270px;
    box-sizing: border-box;
    padding: 32px;
    color: inherit;
    text-decoration: none;
    border: 1px solid @light-gray;
    border-radius: 5px;

    &:hover {
      border: 1px solid @black;
    }

    &--kits {
      background-image:
        url("../img/bg-kits1.png"),
        url("../img/bg-kits2.png");
      background-repeat: no-repeat;
      background-position:
        30px 50px,
        155px 0;
    }

    &--rings {
      background-image: url("../img/bg-rings.png");
      background-repeat: no-repeat;
      background-position: 100% center;
    }

    &--earrings {
      background-image: url("../img/bg-earrings.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }

    &--suspensions {
      background-image: url("../img/bg-suspensions.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }

    &--bracelet {
      background-image: url("../img/bg-bracelet.png");
      background-repeat: no-repeat;
      background-position: 100% 27px;
    }

    &--crosses {
      background-image: url("../img/bg-crosses.png");
      background-repeat: no-repeat;
      background-position: 90% 0;
    }

    &--clock {
      background-image: url("../img/bg-clock2.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }

    &--cufflinks {
      background-image:
        url("../img/bg-cufflink1.png"),
        url("../img/bg-cufflink2.png");
      background-repeat: no-repeat;
      background-position:
        35px 20px,
        100% 100%;
    }

    &--broochs {
      background-image: url("../img/bg-brooch.png");
      background-repeat: no-repeat;
      background-position: 100% 68px;
    }
  }

  &__link-title {
    margin: 0;
    margin-top: 133px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
  }
}

// Site-title
.site-title {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;
}

// Brand-watches
.brand-watches {
  display: flex;
  justify-content: space-between;
  min-height: 378px;
  box-sizing: border-box;
  margin-top: 70px;
  background-color: #0f0e0a;

  &__wrapper {
    padding-top: 77px;
    padding-bottom: 20px;
    background-image: url("../img/bg-watches.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  &__promo {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: @yellow;
  }

  &__title {
    margin: 15px 0 0;
    font-weight: 700;
    font-size: 48px;
    font-family: "Cormorant Infant", serif;
    color: #ffffff;
  }

  &__text {
    width: 44%;
    margin: 0;
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
  }

  &__link {
    margin-top: 47px;
  }
}

// Filtered-goods
.filtered-goods {
  margin-top: 100px;

  &__tabs {
    display: flex;
    justify-content: space-between;
    width: 480px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__tab {
    .button-reset();
    width: 160px;
    box-sizing: border-box;
    padding: 12px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid @light-gray;

    &:hover {
      border: 1px solid @black;
    }

    &--active {
      color: #ffffff;
      background-color: @yellow;
      border: none;
      border-radius: 3px;

      &:hover {
        border: none;
      }
    }
  }

  &__tab:nth-child(2),
  &__tab:nth-child(3) {
    border-left-color: transparent;

    &:hover {
      border-left: 1px solid @black;
    }
  }

  &__goods {
    margin-top: 35px;
  }
}

// Goods
.goods {
  &__list {
    .list-reset();
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 255px;
    margin-right: 2.6%;
    margin-bottom: 2.6%;
    padding-bottom: 30px;
  }

  &__item:nth-child(4n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  &__item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    min-height: 244px;
    box-sizing: border-box;
    border: 1px solid @light-gray;
  }

  &__item-title {
    margin: 0;
    margin-top: 9px;
    font-size: 14px;
    color: #989898;
  }

  &__item-model {
    position: relative;
    margin: 0;
    margin-top: 9px;
    padding-bottom: 13px;
    font-weight: 500;
    font-size: 18px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 129px;
      height: 1px;
      margin-left: -64.5px;
      background-image: url("../img/line.png");
      background-repeat: no-repeat;
    }
  }

  &__item-price {
    margin-top: 13px;
    font-size: 30px;
    color: @yellow;
  }
}

// Blog
.blog {
  margin-top: 37px;

  &__list {
    .list-reset();
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
  }

  &__item {
    width: 350px;
    margin-right: 2.7%;
    margin-bottom: 2.7%;
  }

  &__item:nth-child(3n) {
    margin-right: 0;
  }

  &__item-title {
    margin: 0;
    margin-top: 19px;
    font-weight: 500;
    font-size: 18px;
  }

  &__item-text {
    margin: 0;
    margin-top: 21px;
    padding-right: 5px;
    font-size: 14px;
    color: #989898;
  }

  &__item-date {
    display: block;
    margin-top: 17px;
    font-size: 14px;
    color: @yellow;
  }

  &__description {
    margin-top: 35px;
  }

  &__description-text {
    margin: 0;
    font-size: 12px;
  }

  &__description-link {
    position: relative;
    display: block;
    width: 150px;
    box-sizing: border-box;
    margin-top: 18px;
    padding-right: 14px;
    font-size: 14px;
    color: @yellow;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 0;
      width: 6px;
      height: 6px;
      box-sizing: border-box;
      border: 1.5px solid @yellow;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
    }
  }
}
