// Fonts
/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v18-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v18-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/roboto-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto-v18-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v18-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cormorant-infant-700 - latin_cyrillic */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Cormorant Infant Bold'), local('CormorantInfant-Bold'),
        url('../fonts/cormorant-infant-v7-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/cormorant-infant-v7-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Variables
@black: #2d2d2d;
@light-gray: #e6e6e6;
@yellow: #a8741a;
@dark-yellow: #785415;

// Mixins
.list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset() {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

// Global style
body {
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  color: @black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Blocks styles
// header
.header {
  &__top {
    border-bottom: 1px solid @light-gray;
  }

  &__top-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  &__search-form {
    margin-left: auto;
  }

  &__social {
    margin-left: 3%;
  }
}

// call
.call {
  position: relative;
  width: 200px;
  padding-left: 49px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 34px;
    height: 33px;
    transform: translateY(-50%);
    background-image: url("../img/icon/sprites.png");
    background-position: -5px -10px;
  }

  &__number {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    font-size: 14px;
    color: @yellow;
    text-decoration: underline;

    &:hover {
      color: @dark-yellow;
    }
  }
}

// Wrapper
.wrapper {
  width: 95%;
  max-width: 1110px;
  margin: 0 auto;

  &--decor {
    padding-top: 33px;
    background-image: url("../img/decor-image.png");
    background-repeat: no-repeat;
    background-position-x: center;
  }
}

// Logo
.logo {
  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__text {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
  }

  &__text span {
    color: @yellow;
  }
}

// Search-form
.search-form {
  &__button {
    .button-reset();
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    box-sizing: border-box;
    border: 1px solid @light-gray;
    border-radius: 5px;

    &::before {
      content: "";
      width: 15px;
      height: 16px;
      background-image: url("../img/icon/sprites.png");
      background-repeat: no-repeat;
      background-position: -317px -20px;
    }

    &:hover {
      border: 1px solid @black;
    }
  }
}

// Social
.social {
  width: 131px;

  &__list {
    .list-reset();
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: @yellow;
    border-radius: 50%;

    &::before {
      content: "";
      background-image: url("../img/icon/sprites.png");
    }

    &:hover {
      background-color: @black;
    }
  }

  &__link--twitter {
    &::before {
      width: 12px;
      height: 10px;
      background-position: -366px -17px;
    }
  }

  &__link--instagramm {
    &::before {
      width: 13px;
      height: 13px;
      background-position: -270px -19px;
    }
  }

  &__link--goggle {
    &::before {
      width: 16px;
      height: 10px;
      background-position: -166px -17px;
    }
  }

  &__link--facebook {
    &::before {
      width: 6px;
      height: 14px;
      background-position: -123px -20px;
    }
  }
}

// Main-nav
.main-nav {
  width: 580px;
  margin: 0 auto;
  margin-top: 20px;

  &__list {
    .list-reset();
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: block;
    font-weight: 500;
    color: @black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link--deployed {
    position: relative;
    padding-right: 18px;

    &::before {
      content: "";
      position: absolute;
      right: 1px;
      top: 4px;
      width: 7px;
      height: 7px;
      box-sizing: border-box;
      border: 1.5px solid @black;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
    }
  }
}

// Slider
.slider {
  display: flex;
  min-height: 442px;
  margin-top: 24px;
  background-color: #0f0e0a;

  &__wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  &__list {
    .list-reset();
    display: flex;
    width: 100%;
  }

  &__item {
    flex-shrink: 0;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 40px;
    background-image: url("../img/bg-clock.png");
    background-repeat: no-repeat;
    background-position-x: 85%;
  }

  &__promotional-message {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: @yellow;
  }

  &__item-title {
    margin: 0;
    margin-top: 15px;
    font-weight: 700;
    font-size: 48px;
    font-family: "Cormorant Infant", serif;
    color: #ffffff;
  }

  &__text {
    width: 44%;
    margin: 0;
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
  }

  &__link {
    margin-top: 48px;
  }

  &__buttons {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45px;
  }

  &__button {
    .button-reset();
    width: 9px;
    height: 9px;
    background-color: #414141;
    border-radius: 50%;

    &:hover {
      background-color: #787878;
    }
  }

  &__button--active {
    width: 15px;
    height: 15px;
    background-color: @yellow;

    &:hover {
      background-color: @yellow;
    }
  }
}

// Site-button
.site-button {
  display: block;
  width: 160px;
  box-sizing: border-box;
  padding: 11.5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: @yellow;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid @yellow;
  border-radius: 5px;

  &:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

// Category
.category {
  margin-top: 70px;

  &__list {
    .list-reset();
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-left: -2.6%;
  }

  &__item {
    width: 30.7%;
    margin-left: 2.6%;
    margin-bottom: 2.6%;
  }

  &__link {
    display: block;
    min-height: 270px;
    box-sizing: border-box;
    padding: 8.57%;
    color: inherit;
    text-decoration: none;
    border: 1px solid @light-gray;
    border-radius: 5px;

    &:hover {
      border: 1px solid @black;
    }

    &--kits {
      background-image:
        url("../img/bg-kits1.png"),
        url("../img/bg-kits2.png");
      background-repeat: no-repeat;
      background-position: 9% 50px, 90% 0;
    }

    &--rings {
      background-image: url("../img/bg-rings.png");
      background-repeat: no-repeat;
      background-position: 100% center;
    }

    &--earrings {
      background-image: url("../img/bg-earrings.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }

    &--suspensions {
      background-image: url("../img/bg-suspensions.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }

    &--bracelet {
      background-image: url("../img/bg-bracelet.png");
      background-repeat: no-repeat;
      background-position: 100% 27px;
    }

    &--crosses {
      background-image: url("../img/bg-crosses.png");
      background-repeat: no-repeat;
      background-position: 90% 0;
    }

    &--clock {
      background-image: url("../img/bg-clock2.png");
      background-repeat: no-repeat;
      background-position: 100% 0;
    }

    &--cufflinks {
      background-image:
        url("../img/bg-cufflink1.png"),
        url("../img/bg-cufflink2.png");
      background-repeat: no-repeat;
      background-position:
        11% 20px,
        100% 100%;
    }

    &--broochs {
      background-image: url("../img/bg-brooch.png");
      background-repeat: no-repeat;
      background-position: 100% 68px;
    }
  }

  &__link-title {
    margin: 0;
    margin-top: 133px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
  }
}

// Site-title
.site-title {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;

  &--news {
    text-align: left;
  }
}

// Brand-watches
.brand-watches {
  display: flex;
  justify-content: space-between;
  min-height: 378px;
  box-sizing: border-box;
  margin-top: 70px;
  background-color: #0f0e0a;

  &__wrapper {
    padding-top: 77px;
    padding-bottom: 20px;
    background-image: url("../img/bg-watches.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  &__promo {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: @yellow;
  }

  &__title {
    margin: 15px 0 0;
    font-weight: 700;
    font-size: 48px;
    font-family: "Cormorant Infant", serif;
    color: #ffffff;
  }

  &__text {
    width: 44%;
    margin: 0;
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
  }

  &__link {
    margin-top: 47px;
  }
}

// Filtered-goods
.filtered-goods {
  margin-top: 100px;

  &__tabs {
    display: flex;
    justify-content: space-between;
    width: 480px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__tab {
    .button-reset();
    width: 160px;
    box-sizing: border-box;
    padding: 12px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid @light-gray;

    &:hover {
      border: 1px solid @black;
    }

    &--active {
      color: #ffffff;
      background-color: @yellow;
      border: none;
      border-radius: 3px;

      &:hover {
        border: none;
      }
    }
  }

  &__tab:nth-child(2),
  &__tab:nth-child(3) {
    border-left-color: transparent;

    &:hover {
      border-left: 1px solid @black;
    }
  }

  &__goods {
    margin-top: 35px;
  }
}

// Goods
.goods {
  &__list {
    .list-reset();
    display: flex;
    flex-wrap: wrap;
    margin-left: -2.6%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22.4%;
    margin-left: 2.6%;
    margin-bottom: 2.6%;
    padding-bottom: 30px;
  }

  &__item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 244px;
    box-sizing: border-box;
    border: 1px solid @light-gray;
  }

  &__item-title {
    margin: 0;
    margin-top: 9px;
    font-size: 14px;
    color: #989898;
  }

  &__item-model {
    position: relative;
    margin: 0;
    margin-top: 9px;
    padding-bottom: 13px;
    font-weight: 500;
    font-size: 18px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 129px;
      height: 1px;
      margin-left: -64.5px;
      background-image: url("../img/line.png");
      background-repeat: no-repeat;
    }
  }

  &__item-price {
    margin-top: 13px;
    font-size: 30px;
    color: @yellow;
  }
}

// Blog
.blog {
  margin-top: 37px;

  &__list {
    .list-reset();
    margin-top: 45px;
  }

  &__description {
    margin-top: 35px;
  }

  &__description-text {
    margin: 0;
    font-size: 12px;
  }

  &__description-link {
    position: relative;
    display: block;
    width: 150px;
    box-sizing: border-box;
    margin-top: 18px;
    padding-right: 14px;
    font-size: 14px;
    color: @yellow;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 0;
      width: 6px;
      height: 6px;
      box-sizing: border-box;
      border: 1.5px solid @yellow;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
    }

    &:hover {
      color: @dark-yellow;
    }
  }
}

// Footer
.footer {
  margin-top: 98px;
  border-top: 1px solid @light-gray;

  &--cart {
    margin-top: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
  }

  &__link {
    position: relative;
    display: block;
    width: 350px;
    box-sizing: border-box;
    padding: 18px;
    padding-left: 100px;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    background-color: @yellow;
    background-image: linear-gradient(90deg, #B4821A 0%, #EBD44D 33%, #EBD44D 34%, #EBD44D 66%, #EBD44D 66%, #B4821A 100%);
    border-radius: 3px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 51px;
      width: 33px;
      height: 33px;
      margin-top: -17px;
      background-image: url("../img/icon/sprites.png");
      background-position: -207px -10px;
    }

    &:hover {
      background: none;
      background-color: @black;
    }
  }

  &__copyright {
    margin: 0;
    margin-top: 14px;
    font-size: 14px;
    color: #616161;
  }
}

// To-top-link
.to-top-link {
  position: fixed;
  right: 3%;
  bottom: 70px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: @yellow;
  border-radius: 3px;

  &:hover {
    background-color: @black;
  }

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 11px;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border: 1.5px solid #ffffff;
    border-top: none;
    border-left: none;
    transform: rotate(-135deg);
  }
}

// Slider-switches
.slider-switches {
  width: 100%;
  display: none;
  justify-content: space-between;

  &__switch {
    .button-reset();
    position: relative;
    width: 30px;
    height: 30px;
    background-color: @yellow;
    border-radius: 3px;

    &:hover {
      background-color: @black;
    }

    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 12px;
      width: 8px;
      height: 8px;
      box-sizing: border-box;
      border: 1.5px solid #ffffff;
      border-top: none;
      border-left: none;
      transform: rotate(-225deg);
    }
  }

  &__switch--next {
    transform: rotate(180deg);
  }
}

// Breadcrumbs
.breadcrumbs {
  margin-top: 21px;
  border-top: 1px solid @light-gray;

  &__list {
    .list-reset();
    display: flex;
    margin-top: 22px;
  }

  &__item {
    margin-left: 6px;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__link {
    font-size: 14px;
    color: #989898;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      color: @yellow;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Item-cart
.item-cart {
  margin-top: 24px;

  &__wrapper {
    display: flex;
  }

  &__gallery {
    width: 48.66%;
  }

  &__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 11.1%;
    padding-bottom: 11.1%;
    box-sizing: border-box;
    border: 1px solid @light-gray;
    border-radius: 5px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__button {
    .button-reset();
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.22%;
    box-sizing: border-box;
    padding-top: 4.26%;
    padding-bottom: 4.26%;
    border: 1px solid @light-gray;
    border-radius: 5px;
  }

  &__description {
    width: 48.65%;
    margin-left: 2.7%;
  }

  &__title {
    margin: 0;
    font-size: 30px;
    font-family: "Cormorant Infant", serif;
    text-transform: uppercase;
  }

  &__table {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
  }

  &__table-row {
    display: flex;
    margin-bottom: 7px;
  }

  &__parameter {
    flex-shrink: 0;
    width: 140px;
    box-sizing: border-box;
    color: #989898;
  }

  &__value {
    flex-grow: 1;
  }

  &__value--big {
    color: @yellow;
  }

  &__price {
    margin: 0;
    margin-top: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid @light-gray;
  }

  &__new-price {
    font-size: 30px;
    color: @yellow;
  }

  &__old-price {
    margin-left: 40px;
    font-weight: 500;
    font-size: 24px;
    color: #616161;
    text-decoration: line-through;
  }

  &__social {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }

  &__social-title {
    margin: 0;
    margin-right: 23px;
    font-weight: 500;
    font-size: 18px;
    color: #989898;
  }
}

// Similar-products
.similar-products {
  margin-top: 100px;

  &__goods {
    margin-top: 45px;
  }
}

// Post-list
.post-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2.6%;

  &__item {
    width: 30.7%;
    margin-left: 2.6%;
    margin-bottom: 2.68%;
  }

  &__item img {
    width: 100%;
  }

  &__item-title {
    margin: 0;
    margin-top: 19px;
    font-weight: 500;
    font-size: 18px;
  }

  &__item-text {
    margin: 0;
    margin-top: 21px;
    padding-right: 5px;
    font-size: 14px;
    color: #989898;
  }

  &__item-date {
    display: block;
    margin-top: 17px;
    font-size: 14px;
    color: @yellow;
  }
}

// News
.news {
  margin-top: 50px;

  &__list {
    .list-reset();
    margin-top: 47px;
    margin-left: -2.7%;
  }

  &__pagination {
    margin: 0 auto;
    margin-top: 20px;
  }
}

// pagination
.pagination {
  width: 222px;

  &__list {
    .list-reset();
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid @light-gray;
    border-radius: 3px;
    color: #989898;
    text-decoration: none;

    &--active {
      color: #ffffff;
      background-color: @yellow;
      border: none;
    }
  }
}

@media (max-width: 1100px) {
  .category {
    &__item {
      width: 47.4%;
    }
  }
}

@media (max-width: 980px) {
  .slider {
    &__item {
      background-position-x: 108%;
    }

    &__item-title {
      font-size: 42px;
    }
  }

  .brand-watches {
    &__title {
      font-size: 42px;
    }
  }

  .goods {
    &__item {
      width: 30.7%;
    }
  }

  .item-cart {
    &__preview {
      padding-top: 8%;
      padding-bottom: 8%;
    }

    &__button {
      padding-top: 2.26%;
      padding-bottom: 2.26%;
    }
  }
}

@media (max-width: 768px) {
  .main-nav {
    width: 80%;
  }

  .slider {
    &__item {
      background-image: url("../img/bg-clock-tablet.png");
      background-position-x: 104%;
    }

    &__item-title {
      font-size: 36px;
    }

    &__text {
      width: 61%;
    }
  }

  .site-title {
    font-size: 36px;
  }

  .category {
    &__list {
      margin-top: 25px;
    }

    &__item {
      width: 30.6%;
      margin-left: 2.7%;
      margin-bottom: 2.7%;
    }

    &__link {
      min-height: 194px;
      box-sizing: border-box;
      padding: 9.2%;

      &--kits {
        background-image:
          url("../img/bg-kits1-tablet.png"),
          url("../img/bg-kits2-tablet.png");
        background-position: 10% 19px, 90% 0;
      }

      &--rings {
        background-image: url("../img/bg-rings-tablet.png");
        background-position: 100% 15px;
      }

      &--earrings {
        background-image: url("../img/bg-earrings-tablet.png");
        background-position: 100% 0;
      }

      &--suspensions {
        background-image: url("../img/bg-suspensions-tablet.png");
        background-position: 100% 0;
      }

      &--bracelet {
        background-image: url("../img/bg-bracelet-tablet.png");
        background-position: 100% 15px;
      }

      &--crosses {
        background-image: url("../img/bg-crosses-tablet.png");
        background-position: 90% 0;
      }

      &--clock {
        background-image: url("../img/bg-clock2-tablet.png");
        background-position: 100% 0;
      }

      &--cufflinks {
        background-image:
          url("../img/bg-cufflink1-tablet.png"),
          url("../img/bg-cufflink2-tablet.png");
        background-position: 27px 20px, 100% 23px;
      }

      &--broochs {
        background-image: url("../img/bg-brooch-tablet.png");
        background-position: 100% 30px;
      }
    }

    &__link-title {
      margin-top: 133px;
      font-size: 24px;
    }
  }

  .brand-watches {
    min-height: 300px;
    margin-top: 50px;

    &__wrapper {
      padding-top: 46px;
      background-position: 39% 0;
    }

    &__title {
      font-size: 36px;
    }

    &__text {
      width: 48%;
    }

    &__link {
      margin-top: 22px;
    }
  }

  .filtered-goods {
    margin-top: 70px;
  }

  .goods {
    &__item-photo {
      min-height: 218px;
    }
  }

  .item-cart {
    &__gallery {
      overflow: hidden;
    }

    &__preview {
      padding-top: 8.5%;
      padding-bottom: 8.5%;
    }

    &__button {
      flex-shrink: 0;
      width: 30%;
      margin-right: 5%;
      padding-top: 5.15%;
      padding-bottom: 5.15%;
    }

    &__table {
      margin-top: 14px;
      font-size: 12px;
    }

    &__table-row {
      margin-bottom: 3px;
    }

    &__parameter {
      width: 114px;
    }

    &__social {
      margin-top: 30px;
    }
  }

  .similar-products {
    margin-top: 70px;

    &__goods {
      margin-top: 33px;
    }
  }

  .footer {
    margin-top: 70px;

    &--cart {
      margin-top: 20px;
    }
  }

  .blog {
    &__list {
      margin-top: 33px;
    }
  }

  .post-list {
    &__item {
      width: 47.2%;
    }

    &__item:nth-child(3) {
      display: none;
    }
  }

  .news {
    &__list {
      margin-top: 25px;
    }
  }
}

@media (max-width: 710px) {
  .goods {
    &__item {
      width: 47.4%;
    }
  }
}

@media (max-width: 660px) {
  .header {
    &__top-wrapper {
      align-content: space-between;
      flex-wrap: wrap;
      min-height: 130px;
      box-sizing: border-box;
      padding-top: 12px;
      padding-bottom: 15px;
    }

    &__logo {
      position: static;
      order: 1;
      transform: none;
    }

    &__search-form {
      order: 2;
    }

    &__social {
      margin-left: 26%;
    }
  }

  .call {
    &__number {
      font-size: 16px;
    }

    &__link {
      font-size: 12px;
    }
  }

  .main-nav {
    width: 100%;

    &__link {
      font-size: 14px;

      &::before {
        top: 2px;
      }
    }
  }

  .slider {
    min-height: 340px;

    &__item {
      padding-top: 50px;
      background-image: url("../img/bg-clock-mobile.png");
      background-position: 100% 70px;
    }
  }

  .item-cart {
    &__price {
      display: flex;
      flex-direction: column-reverse;
      padding-bottom: 10px;
    }

    &__old-price {
      margin-left: 0;
    }

    &__social {
      margin-top: 10px;
    }

    &__social-title {
      margin-right: 5%;
    }
  }
}

@media (max-width: 540px) {
  .header {
    &__social {
      margin-left: 9%;
    }
  }

  .main-nav {
    &__list {
      align-items: center;
    }

    &__link {
      max-width: 90px;
      text-align: center;

      &::before {
        top: 50%;
        margin-top: -5px;
      }
    }
  }

  .slider {
    margin-top: 15px;
    min-height: 355px;

    &__item {
      padding-top: 27px;
      background-position: 100% 100%;
    }

    &__item-title {
      margin-top: 12px;
      font-size: 30px;
      text-align: center;
    }

    &__promotional-message {
      text-align: center;
    }

    &__text {
      width: 100%;
      font-size: 12px;
      text-align: center;
    }

    &__link {
      margin-top: 83px;
    }
  }

  .category {
    margin-top: 50px;

    &__list {
      margin-top: 25px;
      margin-left: 0;
    }

    &__item {
      width: 100%;
      margin-left: 0;
      margin-bottom: 15px;
    }

    &__link {
      width: 100%;
      min-height: 174px;

      &--kits {
        background-position: 20px 19px, 97% 0;
      }

      &--rings,
      &--bracelet {
        background-position: 100% center;
      }

      &--crosses {
        background-position: 95% 0;
      }

      &--cufflinks {
        background-position: 130px 16px, 100% 100%;
      }
    }

    &__link-title {
      margin-top: 90px;
    }
  }

  .site-title {
    font-size: 24px;
  }

  .brand-watches {
    min-height: 378px;
    margin-top: 35px;

    &__wrapper {
      padding-top: 100px;
      text-align: center;
      background-image: url("../img/bg-watches-mobile.jpg");
    }

    &__promo {
      font-size: 18px;
    }

    &__title {
      font-size: 30px;
    }

    &__text {
      width: 100%;
      margin-top: 15px;
      font-size: 12px;
    }

    &__link {
      margin: 0 auto;
      margin-top: 34px;
    }
  }

  .filtered-goods {
    margin-top: 50px;

    &__wrapper {
      position: relative;
    }

    &__goods {
      margin: 0 auto;
      margin-top: 30px;
    }

    &__tabs {
      width: 100%;
    }

    &__tab {
      width: 33.33%;
      font-size: 12px;
    }
  }

  .breadcrumbs {
    margin-top: 15px;
  }

  .item-cart {
    margin-top: 18px;

    &__wrapper {
      flex-direction: column;
    }

    &__gallery {
      width: 100%;
    }

    &__buttons {
      position: relative;
    }


    &__button {
      width: 29.25%;
      min-height: 106px;
      margin-left: 2%;
      margin-right: 2%;
    }

    &__description {
      width: 100%;
      margin-top: 30px;
      margin-left: 0;
    }

    &__price {
      flex-direction: row;
      align-items: flex-end;
    }

    &__old-price {
      margin-left: 5%;
    }

    &__social {
      margin-top: 19px;
      padding-bottom: 19px;
      border-bottom: 1px solid @light-gray;
    }

    &__switches {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .similar-products {
    margin-top: 50px;

    &__wrapper {
      position: relative;
    }

    &__goods {
      margin: 0 auto;
      margin-top: 22px;
    }
  }

  .slider-switches {
    &--item-cart {
      display: flex;
    }
  }

  .blog {
    &__list {
      margin-top: 18px;
    }
  }

  .post-list {
    &__item-title {
      font-size: 16px;
    }
  }

  .footer {
    margin-top: 50px;
  }
}

@media (max-width: 460px) {
  .filtered-goods {
    &__wrapper {
      position: relative;
    }
  }

  .goods {
    width: 70.6%;

    &__list {
      flex-wrap: nowrap;
      margin-left: 0;
      overflow: hidden;
    }

    &__item {
      flex-shrink: 0;
      width: 100%;
      margin-left: 0;
      margin-right: 5px;
    }

    &__buttons {
      position: absolute;
      top: 50%;
      margin-top: -35px;
    }
  }

  .blog {
    &__wrapper {
      position: relative;
      overflow: hidden;
    }

    &__buttons {
      position: absolute;
    }
  }

  .slider-switches {
    display: flex;
  }

  .post-list {
    flex-wrap: nowrap;
    margin-left: 0;

    &--news {
      flex-wrap: wrap;
    }

    &__item {
      flex-shrink: 0;
      width: 100%;
      margin-left: 0;
      margin-right: 5px;

      &--news {
        margin-bottom: 26px;
      }
    }
  }

  .footer {
    &--cart {
      margin-top: 20px;
    }
  }

  .news {
    margin-top: 27px;

    &__list {
      margin-top: 22px;
    }
  }
}

@media (max-width: 420px) {
  .header {
    &__social {
      margin-left: 0;
    }
  }

  .call {
    width: 175px;
    padding-left: 40px;
  }

  .social {
    width: 125px;

    &__item {
      width: 27px;
      height: 27px;
    }
  }

  .breadcrumbs {
    &__link {
      font-size: 12px;
    }
  }

  .footer {
    &__wrapper {
      padding: 0;
    }

    &__link {
      width: 100%;
      padding-left: 95px;
      padding-right: 5px;
      text-align: center;
    }
  }
}
